
form {
    max-width: 400px;
    margin: 0 auto;
}
form div {
    margin-bottom: 10px;
}
label {
    display: inline-block;
    width: 100px;
    text-align: left;
}
input {
    width: 200px;
    padding: 5px;
}
button {
    background-color: #0000f3;
    border-radius: 28px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding: 5px 21px;
    text-align: center;
  }
  button:hover {
    background-color: #5555b5;
  }

  .acteur {
    color: #05f;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
  }

  .button-container {
    text-align: center;
}